<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Super Movie App</title>
  <%= stylesheet_link_tag 'bootstrap' %> 
  <%= include_gon %>
</head>
<body>
  <div id='pageBody'>
    <div id='navBar'></div>    
  </div>
</body>
</html>