<h1 style="font-weight: bold;">Edit Movie</h1>
<table>
	<tr>
		<td><label style="font-size: large;"><b>Title:</b></label></td>
		
	</tr>
	<tr>
		<td><input type="text" id="title" /></td>
	</tr>
	<tr>
		<td><label style="font-size: large;"><b>Summary:</b></label></td>		
	</tr>
	<tr>
		<td><textarea type="text" id="summary" rows="5" cols="150"></textarea></td>
	</tr>
	<tr>		
		<td align="center">
			<input type="button" id='submit' value="Update Movie" />&nbsp;&nbsp;
			<input type="button" id='cancel' value="Cancel" />
		</td>
	</tr>
	
</table>